*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    line-height: 25px;
    color: #555555;
    margin: 0 auto;
}
a {
    color: #555555;
    text-decoration: none;
}
a:hover {
    color: #ff4e00;
}
img {
    border: 0;
}
ul, li, dl, dt, dd {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.foot{
    width: 1200px;
    margin: 0 auto;
}
.nav {
    width: 100%;
    min-width: 1200px;
    height: 35px;
    line-height: 35px;
    background: linear-gradient(to bottom, #d1d1d1,  #f4f4f4, #f5f5f5);
}
.nav-1{
    margin-left: 50px;
}
.nav-3{
    margin-right: 30px;
}
.nav-2 {
    width: 150px;
    height: 35px;
    float: left;
}
.table {
    height: 35px;
    float: left;
}
.tb{
    height: 35px;
    background: url(../images/t_arrow.gif) no-repeat right center;
    float: left;
    margin-left: 10px;
    padding-right: 15px;
    position: relative;
}
.tb:hover .nav-4 {
    display: block;
}
.nav-4 {
    width: 116px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 29px;
    margin-left: -58px;
    z-index: 900;
    display: none;
}
.nav-5 {
    overflow: hidden;
    background-color: #FFF;
    margin-top: 6px;
    padding: 10px 0;
    border: 1px solid #cdcdcd;
}
.nav-5 ul li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
}
.sp {
    width: 55px;
    height: 35px;
    overflow: hidden;
    float: left;
}
.sp a {
    width: 20px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 0 3px;
    text-indent: -9999em;
}
.sp a.href {
    background: url(../images/sh1.png) no-repeat center 8px;
}
.sp a.href-1 {
    background: url(../images/sh2.png) no-repeat center center;
}
.nav-6{
    width: 1200px;
    height: 140px;
}
.nav-7{
    width: 207px;
    height: 72px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-top: 40px;
    margin-left: 60px;
    box-sizing: border-box;
}
.nav-8 {
    width: 520px;
    height: 65px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 100px;
    margin-top: 50px;
}
.input {
    width: 408px;
    height: 40px;
    line-height: 36px;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    float: left;
    padding: 0 10px;
    border: 2px solid #ff3c3c;
    border-right: 0;
}
.input-1 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    background-color: #ff3c3c;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    float: left;
    border: 0;
    cursor: pointer;
}
.nav-8 a {
    margin-right: 12px;
    display: inline-block;
}
.nav-9 {
    width: 120px;
    height: 38px;
    line-height: 38px;
    background: #f6f6f6 url(../images/car.png) no-repeat 10px center;
    float: right;
    margin-top: 50px;
    border: 1px solid #d9d9d9;
    position: relative;
}
.nav-10 {
     width: 80px;
     height: 38px;
     overflow: hidden;
     font-size: 14px;
     margin-left: 38px;
     cursor: pointer;
     padding-left: 10px;
 }
.nav-10 span {
    color: #ff3c3c;
}
.nav-11 {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
}
.table-1{
    margin-left: 50px;
}

.table-1 li {
    color: #888888;
    font-size: 14px;
    width:210px;
    float:left;
    margin-left:25px;
    text-align: center;
}
.table-1 li img{
    transition: all 3s;
}
.table-1 li img:hover{
    transform: rotate(360deg) scale(1.2);
}
.div {
    background-color: #FFF;
}
.table{
    margin-left: 50px;
}

.table li {
    color: #888888;
    font-size: 14px;
    width:60px;
    float:left;
    margin-left:10px;
    text-align: center;
}
.table li img{
    transition: all 3s;
}
.table li img:hover{
    transform: rotate(360deg) scale(1.2);
}
.table li h2 {
    color: #3e3e3e;
    font-size: 16px;
    font-weight: normal;
}
.nav-12 {
    padding: 0 50px;
    overflow: hidden;
    margin: 20px auto;
}
.nav-12 dl {
    width: 125px;
    height: 165px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 30px;
}

.nav-12 dl dt {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 16px;
    margin-bottom: 10px;
}

.nav-12 dl dt a {
    color: #3e3e3e;
}

.nav-12 dl dt a:hover {
    color: #3e3e3e;
    text-decoration: underline;
}

.nav-12 dl dd {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #888888;
}

.nav-12 dl dd a {
    color: #888888;
}

.nav-12 dl dd a:hover {
    color: #ff4e00;
}

.nav-14 {
    width: 120px;
    text-align: center;
    float: right;
    display: inline;
    margin-right: 22px;
    margin-top: 5px;
}

.nav-15 {
    width: 118px;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
}

.nav-13 {
    width: 133px;
    color: #888888;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}

.nav-13 a.href-3 {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background: url(../images/b_sh_1.png) no-repeat left center;
    color: #888888;
    font-size: 14px;
    text-indent: 32px;
    display: inline-block;
}

.nav-13 a.href-3:hover {
    color: #ff4e00;
}

.nav-13 a.href-4 {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background: url(../images/b_sh_2.png) no-repeat left center;
    color: #888888;
    font-size: 14px;
    text-indent: 32px;
    display: inline-block;
}

.nav-13 a.href-4:hover {
    color: #ff4e00;
}

.nav-13 p {
    margin-top: 10px;
}

.nav-13 p span {
    color: #ff4e00;
    font-size: 18px;
}

.nav-16 {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    padding: 30px 0 40px 0;
    border-top: 1px solid #eaeaea;
}

.nav-17{
    width: 1200px;
    overflow: hidden;
    color: #999999;
    text-align: center;
}

.nav-17 a {
    color: #999999;
}

.nav-17 a:hover {
    color: #999999;
    text-decoration: underline;
}

.nav-17 img {
    width: 98px;
    height: 33px;
    display: inline-block;
    margin: 15px 5px 5px 5px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-18 {
    width: 90%;
    margin: 0 auto;
    min-width: 100px;
    height: 43px;
    border-bottom: 2px solid #ff4e00;
}
.nav-19 {
    width: 1200px;
    height: 43px;
    line-height: 43px;
    color: #3e3e3e;
    font-size: 16px;
    position: relative;
    z-index: 800;
}
#nav {
    width: 220px;
    background-color: #ff3c3c;
    position: absolute;
    left: 0;
    top: 0;
}
.nav-20 {
    width: 220px;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    text-indent: 35px;
}
ul.table-3 {
    width: 660px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 290px;
}
ul.table-3 li {
    width: 70px;
    height: 40px;
    text-align: center;
    float: left;
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}
ul.table-3 li a {
    color: #3e3e3e;
}
ul.table-3 li a:hover, ul.table-3 .tb-1 a {
    color: #ff3c3c;
}
.href-2 {
    width: 140px;
    height: 43px;
    line-height: 40px;
    overflow: hidden;
    color: #ff3600;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    float: right;
}
