#sec{
    padding-top: 26px;
}
.nav-3 {
    width: 330px;
    margin: 0 auto;
}
.nav-3>h2 {
    text-align: center;
    font: bold 24px/50px "microsoft yahei";
    color: #333;
    margin-bottom: 10px;
}
.nav-4 {
    position: relative;
    z-index: 100;
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 0;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}
.nav-4 span {
    position: absolute;
    left: 20px;
    top: 0;
    display: none;
    height: 50px;
    font: 14px/50px "sisum";
    color: #666;
}

.div {
    width: 192px!important;
}
.href-3 {
    display: inline-block;
    width: 126px;
    height: 50px;
    position: absolute;
    top:0px;
    left: 193px;
    margin-left: 10px;
    text-align: center;
    background-color: #57565f;
    font: bold 12px/52px "sisum";
    color: #fff;
    cursor: default;
    border-radius: 2px;
    font-size: 14px;
}
.nav-4 input {
    vertical-align: middle;
    width: 100%;
    height: 24px;
    padding: 0 20px;
    border: 0 none;
    line-height: 24px;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}
.tp {
    height: 35px;
    line-height: 35px;
    color: #666;
    text-indent: 1em;
}
.tp a {
    color: #06c;
}